* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, 'Lucida Sans', Tahoma, sans-serif;
}

@media only screen and (min-width: 1000px) {
  #menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #100303;
    /* width: auto; */
  }

  #menu li {
    float: left;
  }

  #menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }

  #menu a:hover {
    background-color: #232020;
  }

  .full-width-img {
    width: 100%;
    height: calc(100vh - 100px);
  }

  .image-container {
    position: relative;
  }

  .image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #FFC93C;
    text-align: center;
    text-shadow: 2px 1px 8px #111;
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    display: -webkit-flex;
    display: flex; /* display next to each other */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); 3 columns */
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-item {
    /* text-align: center; */
    height: 300px;
    margin: 15px;
    background-image: url(images/pexels-pavel-danilyuk-7521055.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; /* display next to each other */
    position: relative;
  }

  .grid-item a {
    color: #f2f2f2;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 1px 8px #111;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .logo {
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0, auto;
    text-align: center;
    padding: 10px 0;
  }

  footer {
    height: 120px;
    background-color: #100303;
    color: #ffffff;
    padding: 30px;
  }

  .list-items ul {
    list-style-type: none;
  }

  a {
    color: #f2f2f2;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .list-items a:hover {
    color: #FFC93C;
  }

  li {
    line-height: 30px;
    font-weight: 500;
  }

  .copyright {
    padding-top: 20px;
  }

  .about-me-image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 107px);
  }

  .about-img {
    z-index: 1;
    width: 500px;
    margin-right: 600px;
  }

  .text-container {
    position: absolute;
    padding: 100px;
    padding-left: 1000px;
    width: 800px;
    display: flex;
    flex-direction: column;
    background: #1B2A49;
    background-size: 10px;
    color: #F3F3F3;
    font-size: 13px;
  }

  h1 {
    margin-bottom: 10px;
  }

.contact-container {
    display: flex;
    flex-direction: column; /* set the h1 above the form */
    align-items: center;
    justify-content: center;
    background-color: #FFC93C;
    width: 100%;
    height: calc(100vh - 107px);
  }

.contact-container h1 {
  order: -1; /* set the h1 above the form */
  width: 30%;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;

}

.contact-form {
  width: 30%;
  line-height: 50px;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}




}